* {
  box-sizing: border-box;
}

.router {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* main login container styling */
.login-container {
  border: solid;
  border-color: rgb(89, 88, 88);
  box-shadow: 11px 19px 28px -10px rgba(156, 150, 156, 1);
  padding: 5%;
  margin-top: 10%;
  border-radius: 15px;
  width: max-content;
  height: max-content;
}

body.modal-open .login-container {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

/* login submit button */
#login-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

/* unvisited link */
.sign-up {
  color: dodgerblue;
  border: none;
}

/* mouse over link */
.sign-up:hover {
  color: blue;
  text-decoration: underline;
}

.sign-up:focus {
  outline: 0;
}

/* Icons on sign-in (we can discuss what we want to keep
just playing around */

/** login icons **/

.icon-tracker {
  font-size: 80px;
  margin-left: 1em;
  color: crimson;
}

.icon-email {
  margin-bottom: 0.1em;
}

.icon-password {
  margin-bottom: 0.3em;
}

.icon-submit {
  margin-bottom: 0.1em;
}

/** signup icons **/

.icon-signup {
  margin-bottom: 0.1em;
  margin-right: 0.3em;
}

#icon-signup-password {
  margin-bottom: 0.1em;
  margin-right: 0.3em;
}

#icon-signup-email {
  margin-bottom: 0.1em;
  margin-right: 0.3em;
}

.icon-user-lock {
  margin-bottom: 0.1em;
  margin-right: 0.3em;
}

.icon-username {
  margin-bottom: 0.1em;
  margin-right: 0.3em;
}

.icon-pencil {
  margin-bottom: 0.1em;
  margin-right: 0.3em;
}

.terms-and-conditions {
  margin-left: 6em;
}

.icon-signup-submit {
  margin-bottom: 0.1em;
  margin-left: 0.3em;
}

/* Dashboard styling */
.dash-container {
  width: 100%;
}

.dash-main {
  padding: 2em;
  /* border: solid black 4px; */
  margin: 2em;
}
